@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Made by.</p>
    <p>Hanifi Abrar Setiawan 5025211066</p>
    <p>I Putu Arya Prawaira 5025211065</p>
</div>

